.card {
  border-radius: 0;
}

.card figure {
aspect-ratio: unset !important;
  overflow: hidden;
  margin: 0;
  border-radius: 0;
}

.card figure img {
  width: 100%;
  height: auto;
}

.pswp__button--download-button {
display: none;
}

.card>img, .card figure>img {
    border-radius: 0;
    width: 100%;
height: auto;
    overflow: hidden;
    object-fit: cover;
}

/* hide page title */
hgroup h1 {
display: none;
}

/* hide gallery thumbnail title card */
.card>div {
    display: none;
}

.galleries {
width: 80%;
margin: 0 auto;
grid-template-columns: 1fr !important;
max-width: 600px;
}

header a {
font-weight: 400 !important;
color: rgb(142, 135, 129) !important;
}

