.card {
  border-radius: 0;
}

.card figure {
aspect-ratio: unset !important;
  overflow: hidden;
  margin: 0;
  border-radius: 0;
}

.card figure img {
  width: 100%;
  height: auto;
}

.pswp__button--download-button {
display: none;
}

.card>img, .card figure>img {
    border-radius: 0;
    width: 100%;
height: auto;
    overflow: hidden;
    object-fit: cover;
}

/* hide page title */
hgroup h1 {
display: none;
}
